<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text|Pacifico" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <title>
            My First Form
        </title>
        <style>
            form {
                background-color: lightblue;
                font-size: 30px;
                font-family: 'Libre Barcode 39 Extended Text', cursive;
            }
            
            p {
                background-color: lightgrey;
                font-size: 30px;
                font-family: 'Pacifico', cursive;
            }
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>